<div class="chat">
<form action="/chatroom" method="post">
    <input type="text" class="chat-name" placeholder="Enter your name" name="name" required>
    <button type="submit" class="chat-enterroom"> Enter Chat Room </button>
</form>
</div>